.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #161624;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.responsive-container {
  width: 100%;
}
.countries-list-container {
  display: flex;
  flex-direction: column;
}
.countries-list {
  padding: 10px;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
}
.country-item {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  list-style-type: none;
  background-color: transparent;
  border: 1px solid #334155;
}
.visit-button {
  background-color: #3b82f6;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  border: none;
  color: white;
}
.visit-word {
  color: #94a3b8;
  width: 80px;
}
.visited-countries-list {
  display: flex;
  flex-wrap: wrap;
}
.visited-countries-item {
  list-style-type: none;
  width: 240px;
  margin: 20px;
  background-color: #1f1f2f;
}
.flag-image {
  width: 100%;
}
.name-and-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.remove-button {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  border-radius: 6px;
  height: 30px;
}
